<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NC.Util.SqlSrv.BackupRestore.Properties.Settings.masterConnectionString" connectionString="Data Source=.\CTB-MAXIMUS-PC;Initial Catalog=master;User ID=sa;Password=Babylon5" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="SqlFileLocations" value="C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSVR_2016\MSSQL\DATA\"/>
    <add key="Scratch" value="C:\BackupRestoreSQLServer\Scratch\"/>
    <add key="BackUpZips" value="C:\BackupRestoreSQLServer\SQLBackups\"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
